<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Koel Automation Suite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Registration Tests">
        <classes>
            <class name="Tests.LoginTests"/>
        </classes>
    </test>
</suite>