<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <parameter name="BaseURL" value="https://qa.koel.app/"/>
    <test name="UI Parallel tests" parallel="methods" thread-count="3" preserve-order="true">
        <packages>
            <package name="tests.ui">
                <exclude name="tests.ui.ProfilePageTest"></exclude>
            </package>
        </packages>
    </test>
    <test name="Sequential API and Profile tests" parallel="none">
        <packages>
            <package name="tests.api"/>
        </packages>
        <classes>
            <class name="tests.ui.ProfilePageTest"/>
        </classes>
    </test>
</suite>